body {
    background-color: grey;
    color: white;
    text-align: center;
}

.btn{
    cursor: pointer;
    background-color: grey;
    margin-right: 135px;
    margin-left: 60px;
}

.hide{
    display: none;
}


.myTable {
    margin: auto;
    width: 350px;
    height: 350px;
    border-collapse: collapse;
    font-size: 20px;
  }
  
  td {
    border: 1px solid #2a2a2a;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  
  .hidden{
  font-size: 0;
  }
   
  footer{
    margin-top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  .mark{
background-color: rgb(244, 32, 32);
  }

  .markflag{
    background-color: #131313;
  }
  
.hint{
cursor: pointer;
}

.light{
  background-color: yellow;
}


.flag{
  margin-bottom:10px ;
  margin-right: 30px;
}

.checked{
  background-color: rgb(219, 219, 219);
}
/* .hints{
margin-inline-end: 200px;
} */
.safe{
  background-color: blue;
  border-radius: 30px;
  margin-left: 150px;
}

.dark{
  background-color: #131313;
  color: yellow;
}
.exterminate{
  background-color: orange;
  height: 40px;
  border-radius: 10px;
  margin-right: 30px;
}
