body {
    background-color: grey;
    color: white;
    text-align: center;
}

.btn{
    cursor: pointer;
    background-color: grey;
    margin-right: 135px;
    margin-left: 60px;
}

/* .cell {
    font-size: 1.5em;
    width: 2em;
    height: 2em;
} */
.hide{
    display: none;
}


.myTable {
    margin: auto;
    width: 350px;
    height: 350px;
    border-collapse: collapse;
  }
  
  td {
    border: 1px solid #2a2a2a;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  
  .hidden{
  font-size: 0;
  }
   
  footer{
    margin-top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  .mark{
background-color: rgb(38, 38, 38);
  }
  
.hint{
cursor: pointer;
}

.light{
  background-color: yellow;
}


.flag{
  margin-bottom:10px ;
}

.checked{
  background-color: rgb(219, 219, 219);
}
/* .hints{
margin-inline-end: 200px;
} */

